[Desktop Entry]
Version=1.0
Name=Calibration Tool (V1.0)
Comment= Pupper Servos Calibration Tool
Exec=sudo python3 /home/ubuntu/Robotics/QuadrupedRobot/StanfordQuadruped/calibrate_tool.py
Icon=/home/ubuntu/Robotics/QuadrupedRobot/StanfordQuadruped/imgs/icon.png
Terminal=false
Type=Application
Categories=Development;Application;
StartupNotify=true
NoDisplay=false
