[Unit]
Description=Robot control service
Requires=joystick.service
After=joystick.service

[Service]
ExecStart=taskset -c 0,1 /usr/bin/python3 /home/ubuntu/Robotics/QuadrupedRobot/StanfordQuadruped/run_robot.py
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
