[Unit]
Description=max17205 battery monitor service
Requires=rc-local.service
After=rc-local.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/battery_monitor
User=root

[Install]
WantedBy=sysinit.target
